#wrapper {
  flex-direction: column;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 2000;
}

.sidebar-brand {
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.navbar-container {
  display: flex;
  gap: 20px;
  margin-left: 2.5%;
}

.nav-item::marker {
  content: ''!important;
}

.bg-gradient-darkblue{
  background-color: #293462;
  background-image:
  linear-gradient(180deg,#293462 10%,#293462 100%);
  background-size: cover;
}

.container-fluid {
  padding-top: 1.5rem;
}

.header .carousel-item {
  height: 100%;
}

.carousel-item {
  height: fit-content;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item .header-desc {
  position: absolute;
  bottom: 0%;
  left: 5%;
  height: 40%;
  width: 90%;
}

.carousel-item .cover-in-header{
  height: 100%;
  width: fit-content;
  border: 5px solid;
  margin-right: 1rem;
}

.bg-login-image{
  background-image: url(../img/loginIMG.png);
}

.card-custom {
  height: 500px;
}

.header > div {
  height: 100%;
}

.header > div > .card {
  height: 100%;
}

.header-game {
  width: 100%;
}

.aside .list-game {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.aside .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.aside .game-image {
  width: 88px;
  height: fit-content;
}

.game-card-list {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.game-card-list .card-body {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container-item {
  gap: 1rem;
  padding: 0 0.5rem;
}

.card-game-img, .card-game-desc {
  height: 250px;
  min-height: 250px;
  max-height: 250px;
}

.carousel-item {
  min-height: fit-content!important;
}

.carousel-control {
  opacity: 0;
  width: 10%;
}

.carousel-control:hover {
  background-color: grey;
}

.carousel-control-prev {
  border-radius: 0 100% 100% 0;
}

.carousel-control-next {
  border-radius: 100% 0 0 100%;
}

.game-desc {
  border-left: 2px solid;
}

.game-desc .title {
  border-bottom: 2px solid;
}