#wrapper {
  flex-direction: column;
}

.navbar-template {
  position: sticky;
  top: 0;
  z-index: 2000;
}

.sidebar {
  width: 100%;
  min-height: fit-content;
  flex-direction: row;
}

.sidebar .sidebar-brand {
  padding: 0 10px 0 10px;
  width: 20%;
}

.navbar-container {
  width: 55%;
  display: flex;
  gap: 20px;
}

.nav-item {
  height: fit-content;
}

.sidebar .nav-item .nav-link {
  padding: 20px 0 0 0;
}

.sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
  position: absolute;
  top: 10vh;
  margin: 0;
  left: -10px;
}

.profile-container.ml-auto.navbar-nav {
  width: 25%;
  padding: 0 10px;
  margin-left: 0!important;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
}

.container-fluid {
  padding-top: 1.5rem;
}

.bg-login-image{
  background-image: url(../img/loginIMG.png);
}

@media (min-width: 768px) {
  .sidebar {
    width: 100%!important;
  }

  .sidebar .nav-item .nav-link {
    width: fit-content;
    padding: 20px 0 0 0;
  }

  .sidebar .nav-item .collapse {
    position: absolute;
  }
}